// pixels to rems 
// $baseFontSize: 85.375px !default;
// @function pxToRem($px) {
//   @return $px / $baseFontSize * 1rem;
// }

// html{
//   font-size:$baseFontSize;
// }
#wrap{
    width:1349px;
    margin:0 auto;
}
//标题
header{
    width:100%;
    height: 62px;
    position:fixed;
    left:0;
    top:0;
    background-color:rgba(2,20,32,0.2);
    z-index:9999;
    #h-box{
        margin:0 auto;
        width: 1349px;
        .logo{
            background:url(../image/first-page/logo-all.png) no-repeat;
            width: 141px;
            height: 47px;
            margin-top: 20px;
            margin-left: 20px;
        }
        .nav{
            margin-right: 20px;
            li{
                line-height: 60px;
                margin-left: 60px;
                float:left;
                a{
                    color:#5f5f5f;
                }
                a:hover{
                    color:#eeff01;
                }
                .achievement{
                    color:#eeff01;
                    padding-bottom:10px;
                    border-bottom:1px solid #eeff01;
                }
            }
            li:nth-child(6){
                a{
                    display:inline-block;
                    width: 106px;
                    height: 30px;
                    text-align:center;
                    line-height: 30px;
                    color: #021420;
                    border:1px solid #eeff01;
                    background: #eeff01;
                    border-radius: 15px;
                }
                a:hover{
                    color:#eeff01;
                    background:none;
                }
            }
        }
    }   
}

// banner图
#banner{
	width:100%;
	height:468px;
	position:fixed;
	top:0;
	left:0;
}

#box{
	position:relative;
	margin-top:468px;
	background-color: #f7f7f7;
	width: 100%;
	margin-bottom:-100px;
  	.context{
	  	position:relative;
	  	width: 1220px;
	    margin: 0 auto;
	    position: relative;
	    // z-index: 1;
	    top: -100px;
	    padding: 82px 40px 100px;
	    background-color: #fff;
	    h1{
	    	font-size: 40px;
	    	margin-bottom: 60px;
	    	text-align: center;
	    	color: #666;
	    }
	    .title{
	    	text-align:center;
	    	font-size:24px;
	    	margin-bottom:40px;
	    	a{
	    		color:#070200;
	    		margin-right:80px;
	    		
	    	}
	    	a:nth-child(3){
	    		margin-right:0;
	    	}
	    	a.active{
	    		border-bottom:2px solid #000;
	    	}
	    }
	    ul{
		    display:none;
		   	li{
		    	height:430px;
		    	float:left;
		    	margin:0 7px;
		    	text-align:center;
		    	overflow:hidden;
		    	div{
		    		position:relative;
		    		top:0;
		    		padding-top: 20px;
	    			padding-bottom: 20px;
	    			h3{
			    		font-size: 18px;
		    			margin-bottom: 18px;
		    			color: #666;
		    		}
			    	h4{
			    		color: #999;
			    	}
			    	a{
			    		font-size:20px;
			    		opacity:0;
			    		display:block;
	   					width: 120px;
						height: 40px;
						line-height: 40px;
						margin: 20px auto 0;
						text-align: center;
						color: #999;
						border: 1px solid #999;
						border-radius: 20px;
			    	}
		    	}
		    }
		    li:hover{
		    	div{
		    		top:-50px;
		    		background:#fff;
		    		transition:1s all ease;
		    		a{
		    			opacity:1;
		    			transition:1s all ease;
		    		}
		    		a:hover{
		    			transition:1s all ease;
		    			background:#eeff01;
		    			border-color:#eeff01;
		    			color:#000;
		    		}
		    	}
		    }
		}
		ul.active{
		    display:block;
		}
		.page{
			text-align:center;
		    color: #5f5f5f;
		}
  	}
}

footer{
	width:1349px;
	position:relative;
	background-color: #eee;
	padding:40px 0;
	ul{
		margin-left:24.5px;
		margin-bottom:45px;
		li{
			width:289px;
			height:120px;
			float:left;
			padding-top:30px;
			padding-left:30px;
			margin-left: 8px;
			h3{
				margin-bottom: 20px;
				color:#070200;
				span{
					font-size:18px;
					font-weight:bolder;
				}
				i{
					font-size:12px;
				}
			}
			a{
				color:#666;
			}
		}
		li:nth-child(1){
			background:url(../image/first-page/addr-bg-sz.png) no-repeat;
			margin-left: 0;
		}
		li:nth-child(2){
			background:url(../image/first-page/addr-bg-nj.png) no-repeat;
		}
		li:nth-child(3){
			background:url(../image/first-page/addr-bg-wh.png) no-repeat;
		}
		li:nth-child(4){
			background:url(../image/first-page/addr-bg-bj.png) no-repeat;
		}
	}
	.contact{
		margin-left:24.5px;
		font-size: 18px;
    	color: #666;
    	padding-left: 32px;
    	margin-bottom: 20px;
		p{
			float:left;
			margin-right: 103px;
			span{
				color:#070200;
			}
			a{
				display:inline-block;
				background:url(../image/first-page/coo-qq.png);
				margin-left:10px;
				width:16px;
				height:16px;
			}
		}
	}
	.copyright{
		margin-left:24.5px;
		padding-left: 32px;
		font-size: 16px;
    	color: #9d9d9d;
    	a{
    		color: #9d9d9d;
    	}
	}
}
//右侧
#share{
	position: fixed;
    right: 50px;
    bottom: 200px;
    width: 36px;
    height: 152px;
    z-index: 10;
    opacity:0;
    transition:1s all ease;
    a{
    	display:block;
    	width:36px;
    	height:36px;
    	margin-bottom:1px;
    }
	.qq{
		background:url(../image/first-page/right-qq.png) #3299dc no-repeat center;
	}
	.phone{
		background:url(../image/first-page/right-phone.png) #fc3 no-repeat center;
		dl{
			position: absolute;
    		left: -224px;
    		bottom: 78px;
    		width: 220px;
    		border-radius: 4px;
    		background-color: #fff;
    		box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    		display:none;
    		dt{
    			line-height: 56px;
    			height: 56px;
    			padding: 0 20px;
    			background-color: #fc3;
    			border-top-left-radius: 4px;
    			border-top-right-radius: 4px;
    			color:#fff;
    			img{
    				margin-top: 22px;
    			}
    		}
    		dd{
    			padding-left: 20px;
    			padding-right: 20px;
    			line-height: 41px;
    			height: 41px;
    			em{
    				color:#666;
    				margin-left:10px;
    			}
    			i{
    				color:#999;
    			}
    		}
		}
	}
	.weixin{
		background:url(../image/first-page/right-weixin.png) #58dd00 no-repeat center;
		dl{
			position: absolute;
    		left: -224px;
    		bottom:40px;
    		width: 220px;
    		border-radius: 4px;
   			background-color: #fff;
   			color: #fff;
        	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
        	display:none;
        	dt{
    			line-height: 56px;
    			height: 56px;
    			padding: 0 20px;
   				border-top-left-radius: 4px;
    			border-top-right-radius: 4px;
        		background-color: #58dd00;
        		img{
    				margin-top: 22px;
    			}
        	}
        	dd{
        		text-align: center;
    			padding: 20px 0 10px 0;
    			p{
    				font-weight: 500;
    				color:#999;
    				padding:10px 0;
    			}
        	}
		}
	}
	.top{
		background:url(../image/first-page/right-top.png) #989d9b no-repeat center;
	}
}



//实习吧
#secBanner{
	width:100%;
	position:fixed;
	top:0;
	left:0;
	
	#p-banner{
		background:url(../image/achievement/bg2.png) no-repeat;
		background-size:contain;
		height:424px;
		
	}
	#t-banner{
		@extend #p-banner;
		background:url(../image/achievement/bg3.png) no-repeat;
		background-size:contain;
	}
	#g-banner{
		@extend #p-banner;
		background:url(../image/achievement/bg4.png) no-repeat;
		background-size:contain;
	}
	#h-banner{
		@extend #p-banner;
		background:url(../image/achievement/bg5.png) no-repeat;
		background-size:contain;
	}
	#a-banner{
		@extend #p-banner;
		background:url(../image/achievement/bg6.png) no-repeat;
		background-size:contain;
	}
	#e-banner{
		@extend #p-banner;
		background:url(../image/achievement/bg7.png) no-repeat;
		background-size:contain;
	}
	#m-banner{
		@extend #p-banner;
		background:url(../image/achievement/bg9.png) no-repeat;
		background-size:contain;
	}

}

#p-box,#t-box,#g-box,#hui-box,#a-box,#e-box,#m-box{
	position:relative;
	background-color: #f7f7f7;
	width: 100%;
	margin-top:424px;
	margin-bottom:-100px;
  	.p-context,.t-context,.g-context,.h-context,.a-context,.e-context,.m-context{
	  	position:relative;
	  	width: 1220px;
	    margin: 0 auto;
	    position: relative;
	    top: -100px;
	    padding: 82px 40px 100px;
	    background-color: #fff;
	 	h1{
	 		margin-top: 40px;
    		margin-bottom: 40px;
    		font-size: 26px;
    		text-align: center;
    		color: #666;
	 	}
	 	ul{
	 		li{
	 			margin:0 13px;
	 			text-align:center;
	 			float:left;
	 			a{
	 				div{
	 					overflow:hidden;
	 					img{
	 					width:380px;
	 					height:380px;
	 					margin-bottom: 20px;
	 					transition:1s all ease;
		 				}
		 				img:hover{
		 					transform:scale(1.05,1.05)
		 				}
	 				}
	 				h6{
	 					font-size: 24px;
    					color: #666;
    					text-align: center;
    					padding-bottom: 5px;
	 				}
	 				span{
	 					font-size: 16px;
    					text-align: center;
    					color: #999;
	 				}
	 			}
	 		}
	 	}
  	}
}
//form
#form{
	transition: all .6s linear;
	width:840px;
	height:500px;
	border-radius:10px;
	background: #fff;
	position: fixed;
	//top:50%;
	top:-45%;
	opacity:0;
	left:50%;
	margin-top:-250px;
	margin-left:-420px;
	z-index:100;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
	.title{
		width:780px;
		height:80px;
		line-height:80px;
		background:#eeff01;
		border-radius: 10px 10px;
		color:#070200;
		padding-left:60px;
		p{
			float: left;
			font-size: 24px;
		}
		a{
			display:inline-block;
			float:right;
			width:16px;
			height: 16px;
			margin:30px;
			background: url("../../jiaohukeji/image/colse.png") no-repeat;
			transition:all .3s linear;
		}
	}
	.left{
		width: 240px;
		border-radius: 0 0 0 10px;
		background: #fafafa;
		float: left;
		height:380px;
		padding:14px 0 26px 60px;
		p{
			font-size:18px;
			color:#666;
			margin-top:20px;
		}
		.sao{
			margin-top:26px;
			display: block;
			width: 140px;
			height:140px;
			background: url("../../jiaohukeji/image/map-erweima.png") no-repeat;
		}
	}
	.right{
		float:left;
		height: 380px;
		padding:32px 0 0 60px;
		border-radius: 0 0 10px 0;
		.post{
			margin-bottom:20px;
			padding-left:20px;
			font-size: 18px;
			color:#666;
			span{
				font-size:12px;
				font-style: italic;
				strong{
					font-size: 12px;
					color:red;
				}
			}

		}
		.text{
			line-height: 18px;
			height: 44px;
			textarea{
				width: 340px;
				height:70px;
				padding-left: 4px;
				border:1px solid #ebebeb;
				resize: none;
			}
			.desc{
				line-height: 2;
				//float: right;
				width: 340px;
				padding-left: 100px;
				color: #999;
			}
		}
		li{
			line-height:44px;
			height: 44px;
			i{
				font-size: 14px;
				display: inline-block;
				width: 100px;
				height: 34px;
				text-align:right;
				color:#666;
				float: left;
				strong{
					color:red;
				}
			}
			input{
				width: 340px;
				height:30px;
				padding-left: 4px;
				border:1px solid #ebebeb;
			}
		}
		#butt{
			display: block;
			font-size:16px;
			line-height: 48px;
			float: right;
			width: 345px;
			height: 48px;
			color:#070200;
			border-radius: 2px;
			background:#eeff01;
			margin-top: 84px;
			padding:0;
			border:0;
		}
	}
}

