#wrap {
  width: 1349px;
  margin: 0 auto; }

header {
  width: 100%;
  height: 62px;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(2, 20, 32, 0.2);
  z-index: 9999; }
  header #h-box {
    margin: 0 auto;
    width: 1349px; }
    header #h-box .logo {
      background: url(../image/first-page/logo-all.png) no-repeat;
      width: 141px;
      height: 47px;
      margin-top: 20px;
      margin-left: 20px; }
    header #h-box .nav {
      margin-right: 20px; }
      header #h-box .nav li {
        line-height: 60px;
        margin-left: 60px;
        float: left; }
        header #h-box .nav li a {
          color: #5f5f5f; }
        header #h-box .nav li a:hover {
          color: #eeff01; }
        header #h-box .nav li .service {
          color: #eeff01;
          padding-bottom: 10px;
          border-bottom: 1px solid #eeff01; }
      header #h-box .nav li:nth-child(6) a {
        display: inline-block;
        width: 106px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        color: #021420;
        border: 1px solid #eeff01;
        background: #eeff01;
        border-radius: 15px; }
      header #h-box .nav li:nth-child(6) a:hover {
        color: #eeff01;
        background: none; }

#banner {
  width: 100%;
  height: 468px;
  position: fixed;
  top: 0;
  left: 0; }

#box {
  position: relative;
  margin-top: 468px;
  background-color: #f7f7f7;
  width: 100%;
  margin-bottom: -100px; }
  #box .context {
    position: relative;
    width: 1220px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    top: -100px;
    padding: 82px 40px 100px;
    background-color: #fff; }
    #box .context h1 {
      font-size: 40px;
      margin-bottom: 60px;
      text-align: center;
      color: #666; }
    #box .context ul {
      padding-bottom: 50px;
      border-bottom: 1px solid #f0f0f0;
      margin-bottom: 80px; }
      #box .context ul li {
        position: relative;
        float: left;
        width: 290px;
        height: 500px;
        margin-left: 20px;
        text-align: center;
        background-color: #fafafa; }
        #box .context ul li img {
          margin: 30px auto; }
        #box .context ul li dl {
          height: 177px;
          position: absolute;
          top: 300px;
          left: 82px;
          opacity: 0; }
          #box .context ul li dl dt {
            font-size: 24px;
            margin-bottom: 14px;
            color: #666; }
          #box .context ul li dl dd {
            margin-bottom: 14px;
            color: #999; }
        #box .context ul li .brand-dl, #box .context ul li .num-dl {
          position: absolute;
          left: 97px; }
      #box .context ul li:nth-child(1) {
        margin-left: 0; }
    #box .context .flow {
      height: 460px;
      position: relative; }
      #box .context .flow .flow-top {
        height: 220px;
        position: absolute;
        top: 172px;
        opacity: 0; }
        #box .context .flow .flow-top .flow-top-first, #box .context .flow .flow-top .flow-top-third, #box .context .flow .flow-top .flow-top-fifth {
          z-index: 5;
          width: 240px;
          height: 220px;
          margin-right: 138px;
          padding-left: 70px; }
          #box .context .flow .flow-top .flow-top-first span, #box .context .flow .flow-top .flow-top-third span, #box .context .flow .flow-top .flow-top-fifth span {
            display: block;
            width: 180px;
            height: 48px;
            line-height: 48px;
            border-radius: 30px;
            background: url(../image/service/flow-node-1.png) #00c25a no-repeat 9px 7px;
            font-size: 24px;
            color: #fff;
            padding-left: 60px; }
          #box .context .flow .flow-top .flow-top-first p, #box .context .flow .flow-top .flow-top-third p, #box .context .flow .flow-top .flow-top-fifth p {
            line-height: 24px;
            padding-top: 20px;
            padding-left: 45px;
            color: #999; }
        #box .context .flow .flow-top .flow-top-third {
          z-index: 3;
          margin-right: 107px; }
          #box .context .flow .flow-top .flow-top-third span {
            background: url(../image/service/flow-node-3.png) #3cf no-repeat 9px 7px; }
        #box .context .flow .flow-top .flow-top-fifth {
          z-index: 1;
          margin-right: 0; }
          #box .context .flow .flow-top .flow-top-fifth span {
            background: url(../image/service/flow-node-5.png) #793db1 no-repeat 9px 7px; }
      #box .context .flow .flow-bottom {
        height: 220px;
        position: absolute;
        top: 80px;
        opacity: 0; }
        #box .context .flow .flow-bottom .flow-bottom-second, #box .context .flow .flow-bottom .flow-bottom-forth {
          z-index: 4;
          width: 240px;
          height: 220px;
          margin-left: 312px;
          margin-right: 177px;
          position: relative; }
          #box .context .flow .flow-bottom .flow-bottom-second span, #box .context .flow .flow-bottom .flow-bottom-forth span {
            position: absolute;
            bottom: 0;
            display: block;
            width: 180px;
            height: 48px;
            line-height: 48px;
            border-radius: 30px;
            font-size: 24px;
            color: #fff;
            padding-left: 60px;
            background: url(../image/service/flow-node-2.png) #fac528 no-repeat 9px 7px; }
          #box .context .flow .flow-bottom .flow-bottom-second p, #box .context .flow .flow-bottom .flow-bottom-forth p {
            line-height: 24px;
            padding-top: 20px;
            padding-left: 45px;
            color: #999; }
        #box .context .flow .flow-bottom .flow-bottom-forth {
          z-index: 2;
          margin-left: 0;
          margin-right: 0; }
          #box .context .flow .flow-bottom .flow-bottom-forth span {
            background: url(../image/service/flow-node-4.png) #09f no-repeat 9px 7px; }
      #box .context .flow .flow-line {
        width: 100%;
        height: 20px;
        padding-top: 220px;
        text-align: center; }
        #box .context .flow .flow-line span {
          display: inline-block;
          width: 10px;
          height: 10px;
          margin-left: 11px;
          border: 2px solid #c0c0c0;
          border-radius: 15px; }
        #box .context .flow .flow-line span:first-child, #box .context .flow .flow-line span:last-child {
          margin-left: 0;
          width: 16px;
          height: 16px;
          vertical-align: top; }
        #box .context .flow .flow-line span:last-child {
          margin-left: 11px; }
        #box .context .flow .flow-line .line-top, #box .context .flow .flow-line .line-bottom, #box .context .flow .flow-line .line-circle2, #box .context .flow .flow-line .line-circle4, #box .context .flow .flow-line .line-circle1, #box .context .flow .flow-line .line-circle3, #box .context .flow .flow-line .line-circle5 {
          position: relative;
          width: 20px;
          height: 20px;
          border-radius: 30px; }
          #box .context .flow .flow-line .line-top span, #box .context .flow .flow-line .line-bottom span, #box .context .flow .flow-line .line-circle2 span, #box .context .flow .flow-line .line-circle4 span, #box .context .flow .flow-line .line-circle1 span, #box .context .flow .flow-line .line-circle3 span, #box .context .flow .flow-line .line-circle5 span {
            margin-left: 0px;
            margin-top: 3px;
            width: 10px;
            height: 10px;
            border-radius: 15px; }
          #box .context .flow .flow-line .line-top b, #box .context .flow .flow-line .line-bottom b, #box .context .flow .flow-line .line-circle2 b, #box .context .flow .flow-line .line-circle4 b, #box .context .flow .flow-line .line-circle1 b, #box .context .flow .flow-line .line-circle3 b, #box .context .flow .flow-line .line-circle5 b {
            height: 0;
            display: block;
            margin-left: 10px;
            margin-top: -198px;
            position: absolute;
            bottom: 25px; }
        #box .context .flow .flow-line .line-bottom b, #box .context .flow .flow-line .line-circle2 b, #box .context .flow .flow-line .line-circle4 b {
          margin-top: 0;
          top: 25px; }
        #box .context .flow .flow-line .line-circle1 {
          border: 5px solid #00c25a; }
          #box .context .flow .flow-line .line-circle1 span {
            border: 2px solid #00c25a; }
          #box .context .flow .flow-line .line-circle1 b {
            border-left: 1px solid #00c25a; }
        #box .context .flow .flow-line .line-circle2 {
          border: 5px solid #fac528; }
          #box .context .flow .flow-line .line-circle2 span {
            border: 2px solid #fac528; }
          #box .context .flow .flow-line .line-circle2 b {
            border-left: 1px solid #fac528; }
        #box .context .flow .flow-line .line-circle3 {
          border: 5px solid #3cf; }
          #box .context .flow .flow-line .line-circle3 span {
            border: 2px solid #3cf; }
          #box .context .flow .flow-line .line-circle3 b {
            border-left: 1px solid #3cf; }
        #box .context .flow .flow-line .line-circle4 {
          border: 5px solid #09f; }
          #box .context .flow .flow-line .line-circle4 span {
            border: 2px solid #09f; }
          #box .context .flow .flow-line .line-circle4 b {
            border-left: 1px solid #09f; }
        #box .context .flow .flow-line .line-circle5 {
          border: 5px solid #793db1; }
          #box .context .flow .flow-line .line-circle5 span {
            border: 2px solid #793db1; }
          #box .context .flow .flow-line .line-circle5 b {
            border-left: 1px solid #793db1; }

footer {
  width: 1349px;
  position: relative;
  background-color: #eee;
  padding: 40px 0; }
  footer ul {
    margin-left: 24.5px;
    margin-bottom: 45px; }
    footer ul li {
      width: 289px;
      height: 120px;
      float: left;
      padding-top: 30px;
      padding-left: 30px;
      margin-left: 8px; }
      footer ul li h3 {
        margin-bottom: 20px;
        color: #070200; }
        footer ul li h3 span {
          font-size: 18px;
          font-weight: bolder; }
        footer ul li h3 i {
          font-size: 12px; }
      footer ul li a {
        color: #666; }
    footer ul li:nth-child(1) {
      background: url(../image/first-page/addr-bg-sz.png) no-repeat;
      margin-left: 0; }
    footer ul li:nth-child(2) {
      background: url(../image/first-page/addr-bg-nj.png) no-repeat; }
    footer ul li:nth-child(3) {
      background: url(../image/first-page/addr-bg-wh.png) no-repeat; }
    footer ul li:nth-child(4) {
      background: url(../image/first-page/addr-bg-bj.png) no-repeat; }
  footer .contact {
    margin-left: 24.5px;
    font-size: 18px;
    color: #666;
    padding-left: 32px;
    margin-bottom: 20px; }
    footer .contact p {
      float: left;
      margin-right: 103px; }
      footer .contact p span {
        color: #070200; }
      footer .contact p a {
        display: inline-block;
        background: url(../image/first-page/coo-qq.png);
        margin-left: 10px;
        width: 16px;
        height: 16px; }
  footer .copyright {
    margin-left: 24.5px;
    padding-left: 32px;
    font-size: 16px;
    color: #9d9d9d; }
    footer .copyright a {
      color: #9d9d9d; }

#share {
  position: fixed;
  right: 50px;
  bottom: 200px;
  width: 36px;
  height: 152px;
  z-index: 10;
  opacity: 0;
  transition: 1s all ease; }
  #share a {
    display: block;
    width: 36px;
    height: 36px;
    margin-bottom: 1px; }
  #share .qq {
    background: url(../image/first-page/right-qq.png) #3299dc no-repeat center; }
  #share .phone {
    background: url(../image/first-page/right-phone.png) #fc3 no-repeat center; }
    #share .phone dl {
      position: absolute;
      left: -224px;
      bottom: 78px;
      width: 220px;
      border-radius: 4px;
      background-color: #fff;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
      display: none; }
      #share .phone dl dt {
        line-height: 56px;
        height: 56px;
        padding: 0 20px;
        background-color: #fc3;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        color: #fff; }
        #share .phone dl dt img {
          margin-top: 22px; }
      #share .phone dl dd {
        padding-left: 20px;
        padding-right: 20px;
        line-height: 41px;
        height: 41px; }
        #share .phone dl dd em {
          color: #666;
          margin-left: 10px; }
        #share .phone dl dd i {
          color: #999; }
  #share .weixin {
    background: url(../image/first-page/right-weixin.png) #58dd00 no-repeat center; }
    #share .weixin dl {
      position: absolute;
      left: -224px;
      bottom: 40px;
      width: 220px;
      border-radius: 4px;
      background-color: #fff;
      color: #fff;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
      display: none; }
      #share .weixin dl dt {
        line-height: 56px;
        height: 56px;
        padding: 0 20px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        background-color: #58dd00; }
        #share .weixin dl dt img {
          margin-top: 22px; }
      #share .weixin dl dd {
        text-align: center;
        padding: 20px 0 10px 0; }
        #share .weixin dl dd p {
          font-weight: 500;
          color: #999;
          padding: 10px 0; }
  #share .top {
    background: url(../image/first-page/right-top.png) #989d9b no-repeat center; }

#form {
  transition: all .6s linear;
  width: 840px;
  height: 500px;
  border-radius: 10px;
  background: #fff;
  position: fixed;
  top: -45%;
  opacity: 0;
  left: 50%;
  margin-top: -250px;
  margin-left: -420px;
  z-index: 100;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5); }
  #form .title {
    width: 780px;
    height: 80px;
    line-height: 80px;
    background: #eeff01;
    border-radius: 10px 10px;
    color: #070200;
    padding-left: 60px; }
    #form .title p {
      float: left;
      font-size: 24px; }
    #form .title a {
      display: inline-block;
      float: right;
      width: 16px;
      height: 16px;
      margin: 30px;
      background: url("../../jiaohukeji/image/colse.png") no-repeat;
      transition: all .3s linear; }
  #form .left {
    width: 240px;
    border-radius: 0 0 0 10px;
    background: #fafafa;
    float: left;
    height: 380px;
    padding: 14px 0 26px 60px; }
    #form .left p {
      font-size: 18px;
      color: #666;
      margin-top: 20px; }
    #form .left .sao {
      margin-top: 26px;
      display: block;
      width: 140px;
      height: 140px;
      background: url("../../jiaohukeji/image/map-erweima.png") no-repeat; }
  #form .right {
    float: left;
    height: 380px;
    padding: 32px 0 0 60px;
    border-radius: 0 0 10px 0; }
    #form .right .post {
      margin-bottom: 20px;
      padding-left: 20px;
      font-size: 18px;
      color: #666; }
      #form .right .post span {
        font-size: 12px;
        font-style: italic; }
        #form .right .post span strong {
          font-size: 12px;
          color: red; }
    #form .right .text {
      line-height: 18px;
      height: 44px; }
      #form .right .text textarea {
        width: 340px;
        height: 70px;
        padding-left: 4px;
        border: 1px solid #ebebeb;
        resize: none; }
      #form .right .text .desc {
        line-height: 2;
        width: 340px;
        padding-left: 100px;
        color: #999; }
    #form .right li {
      line-height: 44px;
      height: 44px; }
      #form .right li i {
        font-size: 14px;
        display: inline-block;
        width: 100px;
        height: 34px;
        text-align: right;
        color: #666;
        float: left; }
        #form .right li i strong {
          color: red; }
      #form .right li input {
        width: 340px;
        height: 30px;
        padding-left: 4px;
        border: 1px solid #ebebeb; }
    #form .right #butt {
      display: block;
      font-size: 16px;
      line-height: 48px;
      float: right;
      width: 345px;
      height: 48px;
      color: #070200;
      border-radius: 2px;
      background: #eeff01;
      margin-top: 84px;
      padding: 0;
      border: 0; }

/*# sourceMappingURL=service.css.map */
